### Assignment - Python Foundation

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [1]:
5 + (4 * 9) % (3 + 1) / (6 - 1)

5.0

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [1]:
i=int(input('Enter the number: '))
if i%2==0:
    print('The number is Even')
else:
    print('The number is odd')

Enter the number: 78
The number is Even

Q3: Write a program to display the table by taking the number as input. 
    [Hint : Use print statement inside of a loop]

In [5]:
p=int(input('Enter a number:'))
i=1
for i in range (1,11):
    print(p*i)

Enter a number:6
6
12
18
24
30
36
42
48
54
60

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [25]:
p=0
for i in range(2000,3201):
    if i%7==0 and i%5!=0:
        print(i,end =',')
        p=p+1

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [27]:
l1=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
d1={}
for l in l1:
    if type(l) in d1.keys():
        d1[type(l)]+=1
    else:
        d1[type(l)]=1
print(d1)

{<class 'int'>: 5, <class 'str'>: 4, <class 'float'>: 1, <class 'bool'>: 1, <class 'NoneType'>: 1}

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [43]:
l2=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [50]:
p=0
for l in l2:
    if isinstance(l,(int,float)) and not isinstance(l, bool):
        p=p+l
print(p)

21.5

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [53]:
print(isinstance ('Py',str))

True

In [63]:
k=''
for l in l2:
    if isinstance (l,str):
        k+=l+'-'
print(k[0:-1])

Py-10-SQL-John

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [74]:
def test_1(L1):
    s=0
    t=0
    for x in l1:
        if isinstance(x,(int,float)) and not isinstance(x, bool):
            s+=x
        elif isinstance (x,str):
            t+=1
    return (s,t)

In [75]:
t=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [80]:
s,c=test_1(t)
print("Sum:",s,"Count:",c)

Sum: 21.5 Count: 4

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with map

In [88]:
l_3=[5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
l4=[]
for x in l_3:
    if x%2!=0:
        l4.append(x)
print(l4)

[5, 7, 97, 77, 23, 73, 61]

list_1 = [n**2 for n in range(1, 21) if n % 2 == 0]

In [90]:
p=[n for n in l_3 if n%2!=0]
print(p)

[5, 7, 97, 77, 23, 73, 61]

In [95]:
list(map(lambda x: x + 10, range(10)))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [98]:
list(map(lambda x:x if x%2!=0 else 0,l_3))

[5, 7, 0, 97, 0, 0, 77, 23, 73, 61]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for the n number of input 
    numbers.

In [134]:
import sys
def algorithm(*num):
    s=0
    c=0
    m=0
    mx=-sys.maxsize-1
    mn=sys.maxsize
    for i in num:
        s+=i
        c+=1
        m=s/c
        if i>mx:
            mx=i 
        if i<mn:
            mn=i
        
    return(s,c,m,mx,mn)

In [135]:
p,t,a,maxi,mini=algorithm(-2,-3,-9)
print("Sum:",p,",","Count:",t,",","Average:",a,",","Max:",maxi,",","Min:",mini)

Sum: -14 , Count: 3 , Average: -4.666666666666667 , Max: -2 , Min: -9

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [2]:
def fn_areaofshapes(shape, **kwargs):
    
    Area = 0
    
    if shape == 'circle':
        Area = 3.14 * kwargs['radius'] ** 2
    
    elif shape == 'square':
        Area = kwargs['side'] * kwargs['side'] 
        
    elif shape == 'rectangle':
        Area = kwargs['length'] * kwargs['width'] 
    
    else:
        Area = 'Not a valid shape'
        
    return Area

In [6]:
fn_areaofshapes(shape='square',side=6)

36

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [7]:
d1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
d2 = ['January', 'February', 'April', 'June', 'October', 'December']

In [36]:
def func (d1,d2):
    d3=[]
    for x in d1:
        for y in d2:
            if x==y:
                d3.append(x)
    non_match_a  = set(d1)-set(d2)
    non_match_b  = set(d2)-set(d1)
    docinfo ={'Matched':d3,'Only in l1': [non_match_a], 'Only in l2': [non_match_b]}
    return docinfo

In [37]:
func(d1,d2)

{'Matched': ['January', 'February', 'June', 'December'],
 'Only in l1': [{'March', 'May', 'September'}],
 'Only in l2': [{'April', 'October'}]}